
@media screen and (max-width: 1024px) {
    .ui-project-section-div{
        flex-direction: column;
        gap: 2em;
    }

    .ui-project-image-div{
        width: 100%;
    }
    .ui-project-content-div{
        width: 100%;
        align-items: center;
    }

    .project-heading{
        font-size: 2em;
        text-align: center;
    }
    .project-title{
        font-size: 1.5em;
        text-align: center;
    }
    .project-tech{
        font-size: 1.5em;
        text-align: center;
    }
    .project-btn{
        margin-top: 1em;
        flex-direction: column;
    }
}


@media screen and (max-width: 720px) {
    main{
        flex-direction: column-reverse;
    }

    .onebytwo{
        width: 100%;
    }

    header{
        padding: 1rem 1rem;
    }

    #about{
        padding: 0px 25px;
    }

    .about-heading{
        margin: 0px;
        margin-bottom: 1em;
    }

    .about-content{
        flex-direction: column-reverse;
    }

    .about-img{
        margin-right: -25px;
    }

    .about-text{
        background-color: rgba(255, 255, 255, 0.225);
        border-radius: 10px;
        margin: 0px;
        padding: 1.5em;
    }

}


@media screen and (max-width: 500px) {
    nav ul {
        flex-direction: column;
        gap: 4px;
    }

    .project-title{
        font-size: 1.25em;

    }
    .project-tech{
        font-size: 1.25em;

    }

}